<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<servlet>
		<servlet-name>AddServ</servlet-name>
		<servlet-class>com.servlets.AddServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DeleteServ</servlet-name>
		<servlet-class>com.servlets.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModServ</servlet-name>
		<servlet-class>com.servlets.ModifyServlet</servlet-class>
	</servlet>
	
	
	
	<servlet-mapping>
		<servlet-name>AddServ</servlet-name>
		<url-pattern>/Add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteServ</servlet-name>
		<url-pattern>/Delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModServ</servlet-name>
		<url-pattern>/Modify</url-pattern>
	</servlet-mapping>
</web-app>